---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
<!---
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->

<hr>
**Spring 2022** (the current semester): Graduate course
<a href=https://wiki.illinois.edu/wiki/display/IE510SP22>IE510 Applied Nonlinear Programming</a>

<br />
<br />

<b>Old Courses</b> <br />
Fall 2021: Undegrad course
<a href=https://wiki.illinois.edu/wiki/display/IE310FA21>IE310 Deterministic Models in Optimization</a>
<br />
Spring 2021: Undegrad course
<a href=https://wiki.illinois.edu/wiki/display/IE310SP21>IE310 Deterministic Models in Optimization</a>
<br />
Summer 2020: Graduate course <a href="https://wiki.illinois.edu/wiki/display/IE510SU20/IE510+Summer+Home">IE510 Applied Nonlinear Programming </a>
<br />
 Spring 2020: Graduate course <a href="https://wiki.illinois.edu/wiki/spaces/viewspace.action?key=IE510SP20">IE510 Applied Nonlinear Programming </a>
<br />
 Spring 2020: Undegrad course <a href="https://wiki.illinois.edu/wiki/display/IE310SP20">IE310 Deterministic Models in Optimization</a>
<br />
<br />
Spring 2019 (2nd half): <a href="https://wiki.illinois.edu/wiki/spaces/viewspace.action?key=IE598ODLSP19">IE598 Optimization for Deep Learning</a>
<br />
<br />
Spring 2019: <a href="https://wiki.illinois.edu/wiki/display/IE310SP19/IE+310+Deterministic+Models+in+Optimization">IE310 Deterministic Models in Optimization</a>
<br />
<br />
Spring 2018: <a href="https://wiki.illinois.edu/wiki/display/ie510/2018%2C+IE+510+Applied+Nonlinear+Programming+Home">IE510 Applied Nonlinear Programming</a>
<br />
<br />
Fall 2017: SE 420 Digital Control Systems (<a href="https://wiki.illinois.edu/wiki/display/~ruoyus/Research+Group">webpage of discussions)
<br />
<br />
Spring 2017: <a href="https://wiki.illinois.edu/wiki/display/ie598co/IE+598+CO+Advanced+Topics+in+Continuous+Optimization%2C+UIUC+Spring+2017">IE598 Advanced Topics in Continuous Optimization.</a>
<br />
